


.box {
    width: 90%;
    height: 50vh;
    position: relative;
    margin: auto;
}

.allSettings {
    width: 100%;
    height: 95vh;
    left: 0%;
    top: 0%;
    position: absolute;
    background: white;
    border-radius: 20px;
    border: 0.50px #004DC0 solid
}

.header {
    width: 47.8%;
    left: 1.68%;
    top: 3.19%;
    position: absolute;
    color: #004DC0;
    font-size: 30px;
    font-weight: 600;
    line-height: 29px;
    word-wrap: break-word
}

.openSlide {
    width: 2.41%;
    height: 8vh;
    left: 94.53%;
    top: 3.06%;
    position: absolute
}
